<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>288979687262-p1tb2lgi7hi9gfa7ficdf2kcocefe87k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.288979687262-p1tb2lgi7hi9gfa7ficdf2kcocefe87k</string>
	<key>API_KEY</key>
	<string>AIzaSyBbAf6TrcqmzH43xEb0bgBMvotWINHoy_w</string>
	<key>GCM_SENDER_ID</key>
	<string>288979687262</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.elvisSwift.appSuggest</string>
	<key>PROJECT_ID</key>
	<string>app-sgguesstion</string>
	<key>STORAGE_BUCKET</key>
	<string>app-sgguesstion.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:288979687262:ios:fbc3f4eae704fd518421cf</string>
	<key>DATABASE_URL</key>
	<string>https://app-sgguesstion.firebaseio.com</string>
</dict>
</plist>